[submodule "external_packages/ROS-TCP-Endpoint"]
	path = external_packages/ROS-TCP-Endpoint
	url = https://github.com/KKalem/ROS-TCP-Endpoint
	branch = humble
[submodule "external_packages/mqtt_bridge"]
	path = external_packages/mqtt_bridge
	url = https://github.com/KKalem/mqtt_bridge
	branch = humble
[submodule "simulation/SMARCUnityHDRP"]
	path = simulation/SMARCUnityHDRP
	url = https://github.com/smarc-project/SMARCUnityHDRP
	branch = master
[submodule "simulation/SMARCUnityAssets"]
	path = simulation/SMARCUnityAssets
	url = https://github.com/smarc-project/SMARCUnityAssets
	branch = master
[submodule "simulation/SMARCUnityStandard"]
	path = simulation/SMARCUnityStandard
	url = https://github.com/smarc-project/SMARCUnityStandard
	branch = master
