[submodule "external/ROS-TCP-Endpoint"]
	path = external/ROS-TCP-Endpoint
	url = https://github.com/KKalem/ROS-TCP-Endpoint
[submodule "external/mqtt_bridge"]
	path = external/mqtt_bridge
	url = https://github.com/groove-x/mqtt_bridge
	branch = ros2
[submodule "simulation/SMARCUnityHDRP"]
	path = simulation/SMARCUnityHDRP
	url = https://github.com/smarc-project/SMARCUnityHDRP
[submodule "simulation/SMARCUnityAssets"]
	path = simulation/SMARCUnityAssets
	url = https://github.com/smarc-project/SMARCUnityAssets
[submodule "simulation/SMARCUnityStandard"]
	path = simulation/SMARCUnityStandard
	url = https://github.com/smarc-project/SMARCUnityStandard
