<launch>
    <arg name="robot_name" default="sam0"/>
    <arg name="use_sim_time" default="true"/>
    <!-- Set to _gt if you want to use the ground truth from the sim -->
    <arg name="link_suffix" default=""/>
    
    <group>
    <push-ros-namespace namespace="$(var robot_name)"/>
            <node name="smarc_bt" pkg="smarc_bt" exec="smarc_bt" output="screen">
                <param name="use_sim_time" value="$(var use_sim_time)" />
                <param name="link_suffix" value="$(var link_suffix)"/>
            </node>
    </group>

</launch>