<launch>

    <arg name="namespace" default="sam0"/>
    
    <group>
    <push-ros-namespace namespace="$(var namespace)"/>
            <node name="test_sam_bt" pkg="smarc_bt" exec="test_sam_bt" output="screen">
            </node>
            <node name="converter" pkg="utm_latlon_converter" exec="converter" output="screen">
            </node>
    </group>

</launch>