<launch>

    <arg name="namespace" default="sam0"/>
    
    <group>
    <push-ros-namespace namespace="$(var namespace)"/>
            <node name="test_sam_bt" pkg="smarc_bt" exec="test_sam_bt" output="screen"/>
            <node name="utm_latlon_service" pkg="utm_latlon_converter" exec="converter" output="screen"/>
            <node name="dubins_service" pkg="dubins_planner" exec="dubins_planner_service" output="screen"/>
    </group>

</launch>