<launch>

    <arg name="robot_name" default="sam0"/>
   
    <group>
    <push-ros-namespace namespace="$(var robot_name)"/>
           <node name="action_server_node" pkg="workshopfun" exec="action_server_node" output="screen"/>
           
           <node name="action_client_node" pkg="workshopfun" exec="action_client_node" output="screen"/>
    </group>

</launch>